#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

#menu #item{
	float: left;
}

#menu #item a{
	background: rgba(0,51,152,1);
	color: rgba(255,255,255,1);
	padding: 12px 22px;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	text-decoration: none;
}


#menu #desple{
	display: none;
	position: absolute;
	min-width: 220px;
}

#menu #item a:hover{
	background: rgba(0,102,204,1);
	color:  rgba(0,204,255,1);
}



#menu #item:hover #desple{
	display: block;
}